
 

footer {
    background: url(../img/footer.png) center center no-repeat;
    background-color: #0f1e2d;
    color: var(--white);
    padding:  40px 15px;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin-bottom: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo-img {
    width: 45px;
    height: 45px;
    margin-right: 12px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 22px;
    padding: 5px;
}

.footer-logo h3 {
    font-size: 24px;
    color: var(--white);
}

.footer-logo span {
    color: var(--accent);
}

.footer-about p {
    color: #aaa;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
}

.social-link {
    width: 45px;
    height: 45px;
    background-color: #ffffff1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s;
    font-size: 18px;
}

.social-link:hover {
    background-color: var(--primary);
    transform: translateY(-3px);
}

.footer-links h3,
.footer-contact h3,
.footer-newsletter h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--white);
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: var(--primary);
}

.footer-contact p {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #aaa;
}

.footer-contact p i {
    margin-right: 10px;
    color: var(--primary);
    font-size: 18px;
}

.footer-newsletter p {
    color: #aaa;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
}

.newsletter-input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    color: var(--dark);
}

.newsletter-input:focus {
    outline: none;
    background: #d2cfcf;
}

.newsletter-btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-btn:hover {
    background-color: var(--secondary);
}

.footer-bottom {
    border-top: 1px solid #ffffff1a;
    padding-top: 30px;
    text-align: center;
    color: #aaa;
    font-size: 14px;
}
